:root {
  --colorWhite: #ffffff;
  --colorBlack: #070707;

  //*primary
  --colorGrayishBlue: #8486a9;
  --colorSoftRed: #fb6087;
  // --colorPurple: #2a232e;

  //*neytral
  --colorDarkDesaturatedBlue: #343650;
  --colorVeryDarkBlue: #1e1f29;
  --colorVeryDark: #191a24;
}
